@import "tailwindcss";
@plugin 'flowbite/plugin';
@import "@fontsource/inter/200.css";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";
@import "@fontsource/inter/900.css";

@import "@fontsource/lato";

@custom-variant dark (&:where(.non-existent-class));

@theme {
    --font-sans: "Inter";
    /* --radius-sm: 0.125rem;
    --radius-md: 0.18rem;
    --radius-lg: 0.25rem; */
}

@layer base {
    h1 {
        @apply text-5xl;
        @apply mb-2;
        @apply font-light;
        @apply text-gray-700;
    }
    h2 {
        @apply text-lg;
        @apply mb-2;
        @apply mt-4;
        @apply uppercase;
        @apply font-bold;
        @apply text-gray-700;
    }
    h3 {
        @apply font-bold;
        @apply text-gray-600;
    }
    p {
        @apply mb-2;
    }
    /*a {*/
    /*    @apply text-blue-700;*/
    /*    @apply hover:underline;*/
    /*}*/
}

@utility key-name {
        @apply text-sm;
        @apply text-gray-500;
        @apply font-bold;
        @apply uppercase;
        @apply leading-none;
        @apply mb-0;
    }

@utility key-value {
        @apply text-sm;
        @apply text-gray-800;
    }


@source "../node_modules/flowbite-svelte/dist";
