<div class='list-group mb-3'>

        <a href="http://doi.org/10.1002/2013gl058818" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Modifications of the quasi-biennial oscillation by a geoengineering perturbation of the stratospheric aerosol layer</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        V. Aquila, C. I. Garfinkel, P. A. Newman, L. D. Oman, D. W. Waugh
        </p>
        <small>Geophysical Research Letters, 41, 1738-1744</small>
        </a>
        
        <a href="http://doi.org/10.1002/2014jd021618" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Carbonyl sulfide hydrolysis in Antarctic ice cores and an atmospheric history for the last 8000 years</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        M. Aydin, T. J. Fudge, K. R. Verhulst, M. R. Nicewonger, E. D. Waddington, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 119, 15</small>
        </a>
        
        <a href="http://doi.org/10.1002/2013jd020627" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Arctic cryosphere response in the Geoengineering Model Intercomparison Project G3 and G4 scenarios</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        M. Berdahl, A. Robock, D. Y. Ji, J. C. Moore, A. Jones, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 119, 1308-1321</small>
        </a>
        
        <a href="http://doi.org/10.1002/2013gb004644" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Constraining surface carbon fluxes using in situ measurements of carbonyl sulfide and carbon dioxide</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        M. Berkelhammer, D. Asaf, C. Still, S. Montzka, D. Noone, et. al.
        </p>
        <small>Global Biogeochemical Cycles, 28, 161-179</small>
        </a>
        
        <a href="http://doi.org/10.1016/j.agrformet.2013.06.007" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Growing season eddy covariance measurements of carbonyl sulfide and CO2 fluxes: COS and CO2 relationships in Southern Great Plains winter wheat</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        D. P. Billesbach, J. A. Berry, U. Seibt, K. Maseyk, M. S. Torn, et. al.
        </p>
        <small>Agricultural and Forest Meteorology, 184, 48-55</small>
        </a>
        
        <a href="http://doi.org/10.1002/2013jd019710" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Condensation nuclei measurements in the midlatitude (1982-2012) and Antarctic (1986-2010) stratosphere between 20 and 35km</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        P. Campbell, T. Deshler
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 119, 137-152</small>
        </a>
        
        <a href="http://doi.org/10.1002/2013jd020503" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">The global extent of the mid stratospheric CN layer: A three-dimensional modeling study</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        P. Campbell, M. Mills, T. Deshler
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 119, 1015-1030</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-14-13455-2014" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Reevaluation of stratospheric ozone trends from SAGE II data using a simultaneous temporal and spatial analysis</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        R. P. Damadeo, J. M. Zawodny, L. W. Thomason
        </p>
        <small>Atmospheric Chemistry and Physics, 14, 13455-13470</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-14-11221-2014" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Aerosol microphysics simulations of the Mt. Pinatubo eruption with the UM-UKCA composition-climate model</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        S. S. Dhomse, K. M. Emmerson, G. W. Mann, N. Bellouin, K. S. Carslaw, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 14, 11221-11246</small>
        </a>
        
        <a href="http://doi.org/10.1002/2013jc009780" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Ocean response to volcanic eruptions in Coupled Model Intercomparison Project 5 simulations</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        Y. N. Ding, J. A. Carton, G. A. Chepurin, G. Stenchikov, A. Robock, et. al.
        </p>
        <small>Journal of Geophysical Research-Oceans, 119, 5622-5637</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-14-10601-2014" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Systematic satellite observations of the impact of aerosols from passive volcanic degassing on local cloud properties</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        S. K. Ebmeier, A. M. Sayer, R. G. Grainger, T. A. Mather, E. Carboni
        </p>
        <small>Atmospheric Chemistry and Physics, 14, 10601-10618</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-14-13223-2014" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Tropical deep convective life cycle: Cb-anvil cloud microphysics from high-altitude aircraft observations</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        W. Frey, S. Borrmann, F. Fierli, R. Weigel, V. Mitev, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 14, 13223-13240</small>
        </a>
        
        <a href="http://doi.org/10.1002/2014jd021507" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Correcting the record of volcanic stratospheric aerosol impact: Nabro and Sarychev Peak</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        M. Fromm, G. Kablick, G. Nedoluha, E. Carboni, R. Grainger, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 119, 10,343-10,364</small>
        </a>
        
        <a href="http://doi.org/10.1002/jgrd.51507" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Remote sensing of aerosols in the Arctic for an evaluation of global climate model simulations</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        P. Glantz, A. Bourassa, A. Herber, T. Iversen, J. Karlsson, et. al.
        </p>
        <small>J Geophys Res Atmos, 119, 8169-8188</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-7-1487-2014" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Volcanic ash detection with infrared limb sounding: MIPAS observations and radiative transfer simulations</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        S. Griessbach, L. Hoffmann, R. Spang, M. Riese
        </p>
        <small>Atmospheric Measurement Techniques, 7, 1487-1507</small>
        </a>
        
        <a href="http://doi.org/10.1002/asl2.471" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">The impact of volcanic eruptions in the period 2000-2013 on global mean temperature trends evaluated in the HadGEM2-ES climate model</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        J. M. Haywood, A. Jones, G. S. Jones
        </p>
        <small>Atmospheric Science Letters, 15, 92-96</small>
        </a>
        
        <a href="http://doi.org/10.1117/12.2066326" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Volcanic emissions from AIRS observations: detection methods, case study, and statistical analysis</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        L. Hoffmann, S. Griessbach, C. I. Meyer
        </p>
        <small>Proc. SPIE, 9242, 924214-924214-8</small>
        </a>
        
        <a href="http://doi.org/10.1080/07055900.2013.876609" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Carbonyl Sulphide (OCS) Variability with Latitude in the Atmosphere</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        G. Krysztofiak, Y. V. Té, V. Catoire, G. Berthet, G. C. Toon, et. al.
        </p>
        <small>Atmosphere-Ocean, 53, 89-101</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-7-163-2014" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Characterization of Aura TES carbonyl sulfide retrievals over ocean</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        L. Kuai, J. Worden, S. S. Kulawik, S. A. Montzka, J. Liu
        </p>
        <small>Atmospheric Measurement Techniques, 7, 163-172</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-7-931-2014" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Light scattering at small angles by atmospheric irregular particles: modelling and laboratory measurements</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        T. Lurton, J. B. Renard, D. Vignelles, M. Jeannot, R. Akiki, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 7, 931-939</small>
        </a>
        
        <a href="http://doi.org/10.1002/2013jd020578" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">The contribution of anthropogenic SO<sub>2</sub> emissions to the Asian tropopause aerosol layer</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        R. R. Neely, P. Yu, K. H. Rosenlof, O. B. Toon, J. S. Daniel, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 119, 1571-1579</small>
        </a>
        
        <a href="http://doi.org/10.1093/gji/ggu152" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Simultaneous retrieval of volcanic sulphur dioxide and plume height from hyperspectral data using artificial neural networks</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        A. Piscini, E. Carboni, F. D. Frate, R. G. Grainger
        </p>
        <small>Geophysical Journal International, 198, 697-709</small>
        </a>
        
        <a href="http://doi.org/10.1002/2013jd020566" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Stratospheric ozone response to sulfate geoengineering: Results from the Geoengineering Model Intercomparison Project (GeoMIP)</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        G. Pitari, V. Aquila, B. Kravitz, A. Robock, S. Watanabe, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 119, 2629-2653</small>
        </a>
        
        <a href="http://doi.org/10.1002/2014gl061541" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Total volcanic stratospheric aerosol optical depths and implications for global climate change</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        D. A. Ridley, S. Solomon, J. E. Barnes, V. D. Burlakov, T. Deshler, et. al.
        </p>
        <small>Geophysical Research Letters, 41, 7763-7769</small>
        </a>
        
        <a href="http://doi.org/10.1002/2014eo390009" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Reply to Comment on "The Latest on Volcanic Eruptions and Climate"</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        A. Robock
        </p>
        <small>Eos, Transactions American Geophysical Union, 95, 353-353</small>
        </a>
        
        <a href="http://doi.org/10.1002/2013jd021440" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Reply to comment by Cole-Dai et al. on "Climatic impact of the long-lasting Laki eruption: Inapplicability of mass-independent sulfur isotope composition measurements"</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        A. Schmidt, T. Thordarson, L. D. Oman, A. Robock, S. Self
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 119, 6636-6637</small>
        </a>
        
        <a href="http://doi.org/10.1007/978-94-007-5784-4_11" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Stratospheric Sulfate Aerosols and Planetary Albedo</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        S. Tilmes, M. Mills
        </p>
        <small>Global Environmental Change, 771-776</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-14-12319-2014" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Enhancements of the refractory submicron aerosol fraction in the Arctic polar vortex: feature or exception?</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        R. Weigel, C. M. Volk, K. Kandler, E. Hosen, G. Gunther, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 14, 12319-12342</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-14-11525-2014" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Denitrification by large NAT particles: the impact of reduced settling velocities and hints on particle characteristics</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        W. Woiwode, J. U. Grooss, H. Oelhaf, S. Molleker, S. Borrmann, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 14, 11525-11544</small>
        </a>
        
        <a href="http://doi.org/10.1002/2013jd020630" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Solar radiation management impacts on agriculture in China: A case study in the Geoengineering Model Intercomparison Project (GeoMIP)</h5>
        <small>2014</small>
        </div>
        <p class="mb-0">
        L. L. Xia, A. Robock, J. Cole, C. L. Curry, D. Y. Ji, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 119, 8695-8711</small>
        </a>
        </div>