<div class='list-group mb-3'>

        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-18-1217-2018">MIPAS observations of volcanic sulfate aerosol and sulfur dioxide in the
stratosphere</a>
        <p class="mb-0">
        A. Günther, M. Höpfner, B. Sinnhuber, S. Griessbach, T. Deshler, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 18, 1217-1239</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/amt-11-2085-2018">Aerosol particle size distribution in the stratosphere retrieved from SCIAMACHY limb measurements</a>
        <p class="mb-0">
        E. Malinina, A. Rozanov, V. Rozanov, P. Liebing, H. Bovensmann, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 11, 2085-2100</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/amt-11-3433-2018">A study of the approaches used to retrieve aerosol extinction, as applied to limb observations made by OSIRIS and SCIAMACHY</a>
        <p class="mb-0">
        L. A. Rieger, E. P. Malinina, A. V. Rozanov, J. P. Burrows, A. E. Bourassa, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 11, 3433-3445</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/">A global space-based stratospheric aerosol climatology: 1979--2016</a>
        <p class="mb-0">
        L. W. Thomason, N. Ernest, L. Mill{\'a}n, L. Rieger, A. Bourassa, et. al.
        </p>
        <small>Earth System Science Data, 10, 469-492</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/gmd-11-2581-2018">The interactive stratospheric aerosol model intercomparison project (ISA-MIP): Motivation and experimental design</a>
        <p class="mb-0">
        C. Timmreck, G. W. Mann, V. Aquila, R. Hommel, L. A. Lee, et. al.
        </p>
        <small>Geoscientific Model Development, 11, 2581-2608</small>
        </div>
        </div>