<div class='list-group mb-3'>

        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-12-1239-2012">The role of carbonyl sulphide as a source of stratospheric sulphate aerosol and its impact on climate</a>
        <p class="mb-0">
        C. Bruhl, J. Lelieveld, P. J. Crutzen, H. Tost
        </p>
        <small>Atmospheric Chemistry and Physics, 12, 1239-1253</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1007/s11270-011-0847-0">Vertical Distribution of Carbonyl Sulfide at Mt. Fuji, Japan</a>
        <p class="mb-0">
        H. Kato, Y. Igarashi, Y. Dokiya, Y. Katayama
        </p>
        <small>Water Air and Soil Pollution, 223, 159-167</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/bg-9-2935-2012">Observations of the uptake of carbonyl sulfide (COS) by trees under elevated atmospheric carbon dioxide concentrations</a>
        <p class="mb-0">
        L. Sandoval-Soto, M. Kesselmeier, V. Schmitt, A. Wild, J. Kesselmeier
        </p>
        <small>Biogeosciences, 9, 2935-2945</small>
        </div>
        </div>