<div class='list-group mb-3'>

        <a href="http://doi.org/10.1038/ncomms8692" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Significant radiative impact of volcanic aerosol in the lowermost stratosphere</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        S. M. Andersson, B. G. Martinsson, J. P. Vernier, J. Friberg, C. A. Brenninkmeijer, et. al.
        </p>
        <small>Nat Commun, 6, 7692</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-15-9593-2015" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Climate extremes in multi-model simulations of stratospheric aerosol and marine cloud brightening climate engineering</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        N. Aswathy, O. Boucher, M. Quaas, U. Niemeier, H. Muri, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 15, 9593-9610</small>
        </a>
        
        <a href="http://doi.org/10.1002/2014jd022137" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">The effect of stratospheric sulfur from Mount Pinatubo on tropospheric oxidizing capacity and methane</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        N. Bândă, M. Krol, T. v. Noije, M. v. Weele, J. E. Williams, et. al.
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 120, 1202-1220</small>
        </a>
        
        <a href="http://doi.org/10.1002/2014JD022430" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Stratospheric sulfur and its implications for radiative forcing simulated by the chemistry climate model EMAC</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        C. Bruhl, J. Lelieveld, H. Tost, M. Hopfner, N. Glatthor
        </p>
        <small>J Geophys Res Atmos, 120, 2103-2118</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015jd023954" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">The detectability of climate engineering</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        G. Burger, U. Cubasch
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 120, 11404-11418</small>
        </a>
        
        <a href="http://doi.org/10.1038/srep12243" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Stratospheric Ozone destruction by the Bronze-Age Minoan eruption (Santorini Volcano, Greece)</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        A. Cadoux, B. Scaillet, S. Bekki, C. Oppenheimer, T. H. Druitt
        </p>
        <small>Sci Rep, 5, 12243</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015gl063445" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Atmospheric carbonyl sulfide sources from anthropogenic activity: Implications for carbon cycle constraints</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        J. E. Campbell, M. E. Whelan, U. Seibt, S. J. Smith, J. A. Berry, et. al.
        </p>
        <small>Geophysical Research Letters, 42, 3004-3010</small>
        </a>
        
        <a href="http://doi.org/10.1016/j.jes.2014.05.052" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Characteristics and anthropogenic sources of carbonyl sulfide in Beijing</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        Y. Cheng, C. Zhang, Y. Zhang, H. Zhang, X. Sun, et. al.
        </p>
        <small>J Environ Sci (China), 28, 163-70</small>
        </a>
        
        <a href="http://doi.org/10.4401/ag-6641" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Volcanic SO<sub>2</sub> by UV-TIR satellite retrievals: validation by using ground-based network at Mt. Etna</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        C. Spinetti, G. G. Salerno, T. Caltabiano, E. Carboni, L. Clarisse, et. al.
        </p>
        <small>Annals of Geophysics, 57, </small>
        </a>
        
        <a href="http://doi.org/10.1002/2015GL063052" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Revisiting the hemispheric asymmetry in midlatitude ozone changes following the Mount Pinatubo eruption: A 3-D model study</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        S. S. Dhomse, M. P. Chipperfield, W. Feng, R. Hossaini, G. W. Mann, et. al.
        </p>
        <small>Geophys Res Lett, 42, 3038-3047</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015gl063148" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Lifetimes and emissions of SO<sub>2</sub> from point sources estimated from OMI</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        V. E. Fioletov, C. A. McLinden, N. Krotkov, C. Li
        </p>
        <small>Geophysical Research Letters, 42, 1969-1976</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015ea000110" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Influence of volcanic eruptions on midlatitude upper tropospheric aerosol and consequences for cirrus clouds</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        J. Friberg, B. G. Martinsson, M. K. Sporre, S. M. Andersson, C. A. M. Brenninkmeijer, et. al.
        </p>
        <small>Earth and Space Science, 2, 285-300</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-15-11949-2015" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Stratospheric geoengineering impacts on El Nino/Southern Oscillation</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        C. J. Gabriel, A. Robock
        </p>
        <small>Atmospheric Chemistry and Physics, 15, 11949-11966</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015gl066293" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Tropical sources and sinks of carbonyl sulfide observed from space</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        N. Glatthor, M. Hopfner, I. T. Baker, J. Berry, J. E. Campbell, et. al.
        </p>
        <small>Geophysical Research Letters, 42, 10082-10090</small>
        </a>
        
        <a href="http://doi.org/10.3402/tellusb.v67.26329" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Large variability in ecosystem models explains uncertainty in a critical parameter for quantifying GPP with carbonyl sulphide</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        T. W. Hilton, A. Zumkehr, S. Kulkarni, J. Berry, M. E. Whelan, et. al.
        </p>
        <small>Tellus Series B-Chemical and Physical Meteorology, 67, 8</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-15-7017-2015" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Sulfur dioxide (SO<sub>2</sub>) from MIPAS in the upper troposphere and lower stratosphere 2002-2012</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        M. Höpfner, C. D. Boone, B. Funke, N. Glatthor, U. Grabowski, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 15, 7017-7037</small>
        </a>
        
        <a href="http://doi.org/10.4401/ag-6613" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Intercomparison of Metop-A SO<sub>2</sub> measurements during the 2010-2011 Icelandic eruptions</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        M. Koukouli, L. Clarisse, E. Carboni, J. van Gent, C. Spinetti, et. al.
        </p>
        <small>Annals of Geophysics, 57, </small>
        </a>
        
        <a href="http://doi.org/10.1002/2015jd023303" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">On the accuracy of stratospheric aerosol extinction derived from in situ size distribution measurements and surface area density derived from remote SAGE II and HALOE extinction measurements</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        M. Kovilakam, T. Deshler
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 120, 8426-8447</small>
        </a>
        
        <a href="http://doi.org/10.5194/gmd-8-3379-2015" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">The Geoengineering Model Intercomparison Project Phase 6 (GeoMIP6): simulation design and preliminary results</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        B. Kravitz, A. Robock, S. Tilmes, O. Boucher, J. M. English, et. al.
        </p>
        <small>Geoscientific Model Development, 8, 3379-3392</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015gl065879" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Positive trends in Southern Hemisphere carbonyl sulfide</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        S. Kremser, N. B. Jones, M. Palm, B. Lejeune, Y. T. Wang, et. al.
        </p>
        <small>Geophysical Research Letters, 42, 9473-9480</small>
        </a>
        
        <a href="http://doi.org/10.1080/07055900.2013.876609" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Carbonyl Sulphide (OCS) Variability with Latitude in the Atmosphere</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        G. Krysztofiak, Y. V. Te, V. Catoire, G. Berthet, G. C. Toon, et. al.
        </p>
        <small>Atmosphere-Ocean, 53, 89-101</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015jd023493" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Estimate of carbonyl sulfide tropical oceanic surface fluxes using Aura Tropospheric Emission Spectrometer observations</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        L. Kuai, J. R. Worden, J. E. Campbell, S. S. Kulawik, K. F. Li, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 120, 11012-11023</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-15-2295-2015" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">A new model for the global biogeochemical cycle of carbonyl sulfide - Part 1: Assessment of direct marine emissions with an oceanic general circulation and biogeochemistry model</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        T. Launois, S. Belviso, L. Bopp, C. G. Fichot, P. Peylin
        </p>
        <small>Atmospheric Chemistry and Physics, 15, 2295-2312</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-15-9285-2015" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">A new model of the global biogeochemical cycle of carbonyl sulfide - Part 2: Use of carbonyl sulfide to constrain gross primary productivity in current vegetation models</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        T. Launois, P. Peylin, S. Belviso, B. Poulter
        </p>
        <small>Atmospheric Chemistry and Physics, 15, 9285-9312</small>
        </a>
        
        <a href="http://doi.org/10.22498/pages.23.2.52" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Evolving particle size is the key to improved volcanic forcings</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        G. W. Mann, S. S. Dhomse, T. Deshler, C. Timmreck, A. Schmidt, et. al.
        </p>
        <small>Past Global Change (PAGES) magazine, 23, 52-52</small>
        </a>
        
        <a href="http://doi.org/10.1073/pnas.1510530112" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Atlantic hurricane surge response to geoengineering</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        J. C. Moore, A. Grinsted, X. Guo, X. Yu, S. Jevrejeva, et. al.
        </p>
        <small>Proc Natl Acad Sci U S A, 112, 13794-9</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-15-9129-2015" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">What is the limit of climate engineering by stratospheric injection of SO<sub>2</sub>?</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        U. Niemeier, C. Timmreck
        </p>
        <small>Atmospheric Chemistry and Physics, 15, 9129-9141</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-8-195-2015" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Observations of volcanic SO<sub>2</sub> from MLS on Aura</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        H. C. Pumphrey, W. G. Read, N. J. Livesey, K. Yang
        </p>
        <small>Atmospheric Measurement Techniques, 8, 195-209</small>
        </a>
        
        <a href="http://doi.org/10.1016/B978-0-12-385938-9.00053-5" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Chapter 53 - Climatic Impacts of Volcanic Eruptions A2 - Sigurdsson, Haraldur</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        A. Robock
        </p>
        <small>The Encyclopedia of Volcanoes (Second Edition), 935-942</small>
        </a>
        
        <a href="http://doi.org/10.1016/B978-0-12-382225-3.00448-5" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">CLIMATE AND CLIMATE CHANGE | Volcanoes: Role in Climate A2 - North, Gerald R</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        A. Robock
        </p>
        <small>Encyclopedia of Atmospheric Sciences (Second Edition), 105-111</small>
        </a>
        
        <a href="http://doi.org/" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Important research questions on volcanic eruptions and climate</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        A. Robock
        </p>
        <small>Past Global Changes Magazine, 23, 68</small>
        </a>
        
        <a href="http://doi.org/10.1017/CBO9781107415683.017" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Volcanism, the atmosphere, and climate through time</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        Anja Schmidt, Alan Robock
        </p>
        <small>Volcanism and Global Environmental Change, 195-207</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015jd023638" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Satellite detection, long-range transport, and air quality impacts of volcanic sulfur dioxide from the 2014-2015 flood lava eruption at Bárðarbunga (Iceland)</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        A. Schmidt, S. Leadbetter, N. Theys, E. Carboni, C. S. Witham, et. al.
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 120, 9739-9757</small>
        </a>
        
        <a href="http://doi.org/10.4401/ag-6879" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">On the radiative forcing of volcanic plumes: modelling the impact of Mount Etna in the Mediterranean</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        P. Sellitto, P. Briole
        </p>
        <small>Annals of Geophysics, 58, </small>
        </a>
        
        <a href="http://doi.org/10.1002/2014jd021985" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Global atmospheric sulfur budget under volcanically quiescent conditions: Aerosol-chemistry-climate model predictions and validation</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        J. X. Sheng, D. K. Weisenstein, B. P. Luo, E. Rozanov, A. Stenke, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 120, 256-276</small>
        </a>
        
        <a href="http://doi.org/10.4401/ag-6641" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Volcanic SO<sub>2</sub> by UV-TIR satellite retrievals: validation by using ground-based network at Mt. Etna, </h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        C. Spinetti, G. Salerno, T. Catalbiano, E. Carboni, L. Clarisse, et. al.
        </p>
        <small>Annals of Geophysics, 57, </small>
        </a>
        
        <a href="http://doi.org/10.1038/Ngeo2526" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Estimates of volcanic-induced cooling in the Northern Hemisphere over the past 1,500 years</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        M. Stoffel, M. Khodri, C. Corona, S. Guillet, V. Poulain, et. al.
        </p>
        <small>Nature Geoscience, 8, 784</small>
        </a>
        
        <a href="http://doi.org/10.5194/gmd-8-3055-2015" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">A soil diffusion-reaction model for surface COS flux: COSSM v1</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        W. Sun, K. Maseyk, C. Lett, U. Seibt
        </p>
        <small>Geoscientific Model Development, 8, 3055-3070</small>
        </a>
        
        <a href="http://doi.org/10.1016/B978-0-12-382225-3.00050-5" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">AEROSOLS | Climatology of Stratospheric Aerosols A2 - North, Gerald R</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        L. W. Thomason, J. P. Vernier
        </p>
        <small>Encyclopedia of Atmospheric Sciences (Second Edition), 32-39</small>
        </a>
        
        <a href="http://doi.org/10.5194/gmd-8-43-2015" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">A new Geoengineering Model Intercomparison Project (GeoMIP) experiment designed for climate and chemistry models</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        S. Tilmes, M. J. Mills, U. Niemeier, H. Schmidt, A. Robock, et. al.
        </p>
        <small>Geoscientific Model Development, 8, 43-49</small>
        </a>
        
        <a href="http://doi.org/10.1002/2014JD022372" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Increase in upper tropospheric and lower stratospheric aerosol levels and its potential connection with Asian pollution</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        J. P. Vernier, T. D. Fairlie, M. Natarajan, F. G. Wienhold, J. Bian, et. al.
        </p>
        <small>J Geophys Res Atmos, 120, 1608-1619</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-8-5223-2015" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Improved stratospheric aerosol extinction profiles from SCIAMACHY: validation and sample results</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        C. v. Savigny, F. Ernst, A. Rozanov, R. Hommel, K. U. Eichmann, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 8, 5223-5235</small>
        </a>
        
        <a href="http://doi.org/10.1002/2014jg002661" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Carbonyl sulfide produced by abiotic thermal and photodegradation of soil organic matter from wheat field substrate</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        M. E. Whelan, R. C. Rhew
        </p>
        <small>Journal of Geophysical Research-Biogeosciences, 120, 54-62</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015GL063181" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Composition and physical properties of the Asian Tropopause Aerosol Layer and the North American Tropospheric Aerosol Layer</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        P. Yu, O. B. Toon, R. R. Neely, B. G. Martinsson, C. A. Brenninkmeijer
        </p>
        <small>Geophys Res Lett, 42, 2540-2546</small>
        </a>
        
        <a href="http://doi.org/10.1016/j.gloplacha.2015.02.010" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Impacts, effectiveness and regional inequalities of the GeoMIP G1 to G4 solar radiation management scenarios</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        X. Y. Yu, J. C. Moore, X. F. Cui, A. Rinke, D. Y. Ji, et. al.
        </p>
        <small>Global and Planetary Change, 129, 10-22</small>
        </a>
        
        <a href="http://doi.org/10.22498/pages.23.2.54" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">A coordinated modeling assessment of the climate response to volcanic forcing</h5>
        <small>2015</small>
        </div>
        <p class="mb-0">
        D. Zanchettin, C. Timmreck, M. Khodri, A. Robock, A. Rubino, et. al.
        </p>
        <small>Past Global Changes Magazine, 23, 54-55</small>
        </a>
        </div>