<div class='list-group mb-3'>

        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1175/Jas-D-12-0143.1">The Response of Ozone and Nitrogen Dioxide to the Eruption of Mt. Pinatubo at Southern and Northern Midlatitudes</a>
        <p class="mb-0">
        V. Aquila, L. D. Oman, R. Stolarski, A. R. Douglass, P. A. Newman
        </p>
        <small>Journal of the Atmospheric Sciences, 70, 894-900</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1038/ngeo1730">Ecosystem photosynthesis inferred from measurements of carbonyl sulphide flux</a>
        <p class="mb-0">
        D. Asaf, E. Rotenberg, F. Tatarinov, U. Dicken, S. A. Montzka, et. al.
        </p>
        <small>Nature Geoscience, 6, 186-190</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1002/2013jd019914">Northern Hemispheric cryosphere response to volcanic eruptions in the Paleoclimate Modeling Intercomparison Project 3 last millennium simulations</a>
        <p class="mb-0">
        M. Berdahl, A. Robock
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 118, 12359-12370</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1002/jgrg.20068">A coupled model of the global cycles of carbonyl sulfide and CO2: A possible new window on the carbon cycle</a>
        <p class="mb-0">
        J. Berry, A. Wolf, J. E. Campbell, I. Baker, N. Blake, et. al.
        </p>
        <small>Journal of Geophysical Research-Biogeosciences, 118, 842-852</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-13-3997-2013">An empirical model of global climate - Part 1: A critical evaluation of volcanic cooling</a>
        <p class="mb-0">
        T. Canty, N. R. Mascioli, M. D. Smarte, R. J. Salawitch
        </p>
        <small>Atmospheric Chemistry and Physics, 13, 3997-4031</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1002/jgrd.50581">Carbonyl sulfide in the planetary boundary layer: Coastal and continental influences</a>
        <p class="mb-0">
        R. Commane, S. C. Herndon, M. S. Zahniser, B. M. Lerner, J. B. McManus, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 118, 8001-8009</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1002/2013jd020908">Dynamic variability of the Asian monsoon anticyclone observed in potential vorticity and correlations with tracer distributions</a>
        <p class="mb-0">
        H. Garny, W. J. Randel
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 118, 13421-13433</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1038/Nclimate1857">Asymmetric forcing from stratospheric aerosols impacts Sahelian rainfall</a>
        <p class="mb-0">
        J. M. Haywood, A. Jones, N. Bellouin, D. Stephenson
        </p>
        <small>Nature Climate Change, 3, 660-665</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-13-10405-2013">Sulfur dioxide (SO<sub>2</sub>) as observed by MIPAS/Envisat: temporal development and spatial distribution at 15-45 km altitude</a>
        <p class="mb-0">
        M. Höpfner, N. Glatthor, U. Grabowski, S. Kellmann, M. Kiefer, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 13, 10405-10423</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-13-6533-2013">Stratospheric aerosols from the Sarychev volcano eruption in the 2009 Arctic summer</a>
        <p class="mb-0">
        F. Jegou, G. Berthet, C. Brogniez, J. B. Renard, P. Francois, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 13, 6533-6552</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1002/2013jd020445">Solar irradiance reduction via climate engineering: Impact of different techniques on the energy balance and the hydrological cycle</a>
        <p class="mb-0">
        U. Niemeier, H. Schmidt, K. Alterskjaer, J. E. Kristjánsson
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 118, 11,905-11,917</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-13-11187-2013">In situ detection of electrified aerosols in the upper troposphere and stratosphere</a>
        <p class="mb-0">
        J. B. Renard, S. N. Tripathi, M. Michael, A. Rawal, G. Berthet, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 13, 11187-11194</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1080/01431161.2013.786196">A new climatology of aerosols in the middle and upper stratosphere by alternative analysis of GOMOS observations during 2002-2006</a>
        <p class="mb-0">
        V. Salazar, J. B. Renard, A. Hauchecorne, S. Bekki, G. Berthet
        </p>
        <small>International Journal of Remote Sensing, 34, 4986-5029</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-13-4605-2013">Improved SAGE II cloud/aerosol categorization and observations of the Asian tropopause aerosol layer: 1989-2005</a>
        <p class="mb-0">
        L. W. Thomason, J. P. Vernier
        </p>
        <small>Atmospheric Chemistry and Physics, 13, 4605-4616</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1175/Jamc-D-12-0279.1">An Advanced System to Monitor the 3D Structure of Diffuse Volcanic Ash Clouds</a>
        <p class="mb-0">
        J. P. Vernier, T. D. Fairlie, J. J. Murray, A. Tupper, C. Trepte, et. al.
        </p>
        <small>Journal of Applied Meteorology and Climatology, 52, 2125-2138</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/j.atmosenv.2013.02.048">Salt marsh vegetation as a carbonyl sulfide (COS) source to the atmosphere</a>
        <p class="mb-0">
        M. E. Whelan, D. H. Min, R. C. Rhew
        </p>
        <small>Atmospheric Environment, 73, 131-137</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/j.agee.2013.07.005">Contribution of aboveground plants, the rhizosphere and root-free-soils to total COS and DMS fluxes at three key growth stages in rice paddies</a>
        <p class="mb-0">
        Z. G. Yi, L. L. Zheng, T. Wu, X. M. Wang
        </p>
        <small>Agriculture Ecosystems & Environment, 179, 11-17</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1002/jgrd.50229">Background conditions influence the decadal climate response to strong volcanic eruptions</a>
        <p class="mb-0">
        D. Zanchettin, O. Bothe, H. F. Graf, S. J. Lorenz, J. Luterbacher, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 118, 4090-4106</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1029/2012gl054403">Delayed winter warming: A robust decadal response to strong tropical volcanic eruptions?</a>
        <p class="mb-0">
        D. Zanchettin, C. Timmreck, O. Bothe, S. J. Lorenz, G. Hegerl, et. al.
        </p>
        <small>Geophysical Research Letters, 40, 204-209</small>
        </div>
        </div>