<div class='list-group mb-3'>

        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/essd-13-4407-2021">Recovery of the first ever multi-year lidar dataset of the stratospheric aerosol layer, from Lexington, MA, and Fairbanks, AK, January 1964 to July 1965</a>
        <p class="mb-0">
        J. Antuña-Marrero, G. W. Mann, J. Barnes, A. Rodríguez-Vega, S. Shallcross, et. al.
        </p>
        <small>Earth System Science Data, 13, 4407-4423</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-21-14371-2021">The outflow of Asian biomass burning carbonaceous aerosol into the upper troposphere and lower stratosphere in spring: radiative effects seen in a global model</a>
        <p class="mb-0">
        P. Chavan, S. Fadnavis, T. Chakroborty, C. E. Sioris, S. Griessbach, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 21, 14371-14384</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1126/science.abe1415">Record-breaking aerosol levels explained by smoke injection into the stratosphere</a>
        <p class="mb-0">
        E. Hirsch, I. Koren
        </p>
        <small>Science, 371, 1269-1274</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/https://doi.org/10.1029/2021GL094427">Composition Dependence of Stratospheric Aerosol Shortwave Radiative Forcing in Northern Mid-latitudes</a>
        <p class="mb-0">
        Y. Li, J. Dykema, T. Deshler, F. Keutsch
        </p>
        <small>Geophysical Research Letters, n/a, e2021GL094427</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-21-14871-2021">Changes in stratospheric aerosol extinction coefficient after the 2018 Ambae eruption as seen by OMPS-LP and MAECHAM5-HAM</a>
        <p class="mb-0">
        E. Malinina, A. Rozanov, U. Niemeier, S. Wallis, C. Arosio, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 21, 14871-14891</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-21-8915-2021">Radiative and chemical implications of the size and composition of aerosol particles in the existing or modified global stratosphere</a>
        <p class="mb-0">
        D. M. Murphy, K. D. Froyd, I. Bourgeois, C. A. Brock, A. Kupc, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 21, 8915-8932</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/amt-14-1015-2021">OMPS LP Version 2.0 multi-wavelength aerosol extinction coefficient retrieval algorithm</a>
        <p class="mb-0">
        G. Taha, R. Loughman, T. Zhu, L. Thomason, J. Kar, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 14, 1015-1036</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-21-1143-2021">Evidence for the predictability of changes in the stratospheric aerosol size following volcanic eruptions of diverse magnitudes using space-based instruments</a>
        <p class="mb-0">
        L. W. Thomason, M. Kovilakam, A. Schmidt, C. v. Savigny, T. Knepp, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 21, 1143-1158</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-2021-1003">Stratospheric Ozone Response to Sulfate Aerosol and Solar Dimming Climate Interventions based on the G6 Geoengineering Model Intercomparison Project (GeoMIP) Simulations</a>
        <p class="mb-0">
        S. Tilmes, D. Visioni, A. Jones, J. Haywood, R. Séférian, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics Discussions, 2021, 1-31</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-21-9065-2021">Large hemispheric difference in nucleation mode aerosol concentrations in
the lowermost stratosphere at mid- and high latitudes</a>
        <p class="mb-0">
        C. J. Williamson, A. Kupc, A. Rollins, J. Kazil, K. D. Froyd, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 21, 9065-9088</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/amt-14-2345-2021">Retrieval of stratospheric aerosol size distribution parameters using satellite solar occultation measurements at three wavelengths</a>
        <p class="mb-0">
        F. Wrana, C. v. Savigny, J. Zalach, L. W. Thomason
        </p>
        <small>Atmospheric Measurement Techniques, 14, 2345-2357</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/https://doi.org/10.1029/2021JD035379">Climate Response to Latitudinal and Altitudinal Distribution of Stratospheric Sulfate Aerosols</a>
        <p class="mb-0">
        M. Zhao, L. Cao, G. Bala, L. Duan
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 126, e2021JD035379</small>
        </div>
        </div>