<div class='list-group mb-3'>

        <a href="http://doi.org/10.1002/2015jd024235" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Changes in atmospheric carbonyl sulfide over the last 54,000 years inferred from measurements in Antarctic ice cores</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        M. Aydin, J. E. Campbell, T. J. Fudge, K. M. Cuffey, M. R. Nicewonger, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 121, 1943-1954</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-195-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Can we explain the observed methane variability after the Mount Pinatubo eruption?</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        N. Bândă, M. Krol, M. v. Weele, T. v. Noije, P. L. Sager, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 195-214</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-14909-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">A top-down approach of surface carbonyl sulfide exchange by a Mediterranean oak forest ecosystem in southern France</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        S. Belviso, I. M. Reiter, B. Loubet, V. Gros, J. Lathiere, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 14909-14923</small>
        </a>
        
        <a href="http://doi.org/10.1002/2016jd025437" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Radiation and atmospheric circulation controls on carbonyl sulfide concentrations in the marine boundary layer</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        M. Berkelhammer, H. C. Steen-Larsen, A. Cosgrove, A. J. Peters, R. Johnson, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 121, 13113-13128</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-4343-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">The vertical distribution of volcanic SO<sub>2</sub> plumes measured by IASI</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        E. Carboni, R. G. Grainger, T. A. Mather, D. M. Pyle, G. E. Thomas, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 4343-4367</small>
        </a>
        
        <a href="http://doi.org/10.1016/j.jvolgeores.2016.01.002" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Multi-decadal satellite measurements of global volcanic degassing</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        S. A. Carn, L. Clarisse, A. J. Prata
        </p>
        <small>Journal of Volcanology and Geothermal Research, 311, 99-134</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-8023-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Gravity-wave effects on tracer gases and stratospheric aerosol concentrations during the 2013 ChArMEx campaign</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        F. C. Ming, D. Vignelles, F. Jegou, G. Berthet, J. Renard, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 8023-8042</small>
        </a>
        
        <a href="http://doi.org/10.1002/2016gl070075" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">An important missing source of atmospheric carbonyl sulfide: Domestic coal combustion</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        Q. Q. Du, C. L. Zhang, Y. J. Mu, Y. Cheng, Y. Y. Zhang, et. al.
        </p>
        <small>Geophysical Research Letters, 43, 8720-8727</small>
        </a>
        
        <a href="http://doi.org/10.1088/1748-9326/11/3/034012" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Quantifying the temperature-independent effect of stratospheric aerosol geoengineering on global-mean precipitation in a multi-model ensemble</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        A. J. Ferraro, H. G. Griffiths
        </p>
        <small>Environmental Research Letters, 11, 034012</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-11497-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">A global catalogue of large SO<sub>2</sub> sources and emissions derived from the Ozone Monitoring Instrument</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        V. E. Fioletov, C. A. McLinden, N. Krotkov, C. Li, J. Joiner, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 11497-11519</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-9-4399-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Infrared limb emission measurements of aerosol in the troposphere and stratosphere</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        S. Griessbach, L. Hoffmann, R. Spang, M. v. Hobe, R. Müller, et. al.
        </p>
        <small>Atmos. Meas. Tech., 9, 4399-4423</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-6641-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Summertime nitrate aerosol in the upper troposphere and lower stratosphere over the Tibetan Plateau and the South Asian summer monsoon region</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        Y. X. Gu, H. Liao, J. C. Bian
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 6641-6663</small>
        </a>
        
        <a href="http://doi.org/10.5194/gmd-9-1627-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Inverse transport modeling of volcanic sulfur dioxide emissions using large-scale simulations</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        Y. Heng, L. Hoffmann, S. Griessbach, T. Rößler, O. Stein
        </p>
        <small>Geosci. Model Dev., 9, 1627-1645</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015JD023749" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Lagrangian transport simulations of volcanic sulfur dioxide emissions: Impact of meteorological data products</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        L. Hoffmann, T. Rößler, S. Griessbach, Y. Heng, O. Stein
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 121, 4651-4673</small>
        </a>
        
        <a href="http://doi.org/" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Quantifying gas emissions from the "Millennium Eruption" of Paektu volcano, Democratic People's Republic of Korea/China</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        K. Iacovino, K. Ju-Song, T. Sisson, J. Lowenstern, R. Kuk-Hun, et. al.
        </p>
        <small>Sci. Adv., 2, </small>
        </a>
        
        <a href="http://doi.org/10.1002/wcc.423" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">An overview of the Earth system science of solar geoengineering</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        P. J. Irvine, B. Kravitz, M. G. Lawrence, H. Muri
        </p>
        <small>Wiley Interdisciplinary Reviews-Climate Change, 7, 815-833</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-2843-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Climatic impacts of stratospheric geoengineering with sulfate, black carbon and titania injection</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        A. C. Jones, J. M. Haywood, A. Jones
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 2843-2862</small>
        </a>
        
        <a href="http://doi.org/10.1002/2016jd025001" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Sensitivity of volcanic aerosol dispersion to meteorological conditions: A Pinatubo case study</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        A. C. Jones, J. M. Haywood, A. Jones, V. Aquila
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 121, 6892-6908</small>
        </a>
        
        <a href="http://doi.org/" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">LMDz-S3A-v1: A sectional stratospheric sulphate aerosol in the LMDz atmospheric general circulation model</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        C. Kleinschmitt, O. Boucher, S. Bekki, F. Lott, U. Platt,
        </p>
        <small>Geophysical Model Development, </small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-9-5293-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Continuous and high-precision atmospheric concentration measurements of COS, CO2, CO and H2O using a quantum cascade laser spectrometer (QCLS)</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        L. M. J. Kooijmans, N. A. M. Uitslag, M. S. Zahniser, D. D. Nelson, S. A. Montzka, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 9, 5293-5314</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015rg000511" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Stratospheric aerosol-Observations, processes, and impact on climate</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        S. Kremser, L. W. Thomason, M. v. Hobe, M. Hermann, T. Deshler, et. al.
        </p>
        <small>Reviews of Geophysics, 54, 278-335</small>
        </a>
        
        <a href="http://doi.org/10.1016/j.earscirev.2016.06.005" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Anthropogenic contributions to global carbonyl sulfide, carbon disulfide and organosulfides fluxes</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        C. L. Lee, P. Brimblecombe
        </p>
        <small>Earth-Science Reviews, 160, 1-18</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-15789-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Dynamic climate emulators for solar geoengineering</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        D. G. MacMartin, B. Kravitz
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 15789-15799</small>
        </a>
        
        <a href="http://doi.org/10.1002/2016ef000418" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Geoengineering with stratospheric aerosols: What do we not know after a decade of research?</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        D. G. MacMartin, B. Kravitz, J. C. S. Long, P. J. Rasch
        </p>
        <small>Earths Future, 4, 543-548</small>
        </a>
        
        <a href="http://doi.org/10.1016/j.scitotenv.2016.02.014" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Variability of atmospheric carbonyl sulfide at a semi-arid urban site in western India</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        C. Mallik, N. Chandra, S. Venkataramani, S. Lal
        </p>
        <small>Sci Total Environ, 551-552, 725-37</small>
        </a>
        
        <a href="http://doi.org/10.1021/acs.est.5b04985" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">A Decade of Change in NO<sub>2</sub> and SO<sub>2</sub> over the Canadian Oil Sands As Seen from Space</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        C. A. McLinden, V. Fioletov, N. A. Krotkov, C. Li, K. F. Boersma, et. al.
        </p>
        <small>Environ Sci Technol, 50, 331-7</small>
        </a>
        
        <a href="http://doi.org/10.1038/Ngeo2724" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Space-based detection of missing sulfur dioxide sources of global air pollution</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        C. A. McLinden, V. Fioletov, M. W. Shephard, N. Krotkov, C. Li, et. al.
        </p>
        <small>Nature Geoscience, 9, 496-+</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015jd024290" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Global volcanic aerosol properties derived from emissions, 1990-2014, using CESM1(WACCM)</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        M. J. Mills, A. Schmidt, R. Easter, S. Solomon, D. E. Kinnison, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 121, 2332-2348</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-2016-583" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Derivation of Antarctic stratospheric sulfuric acid profiles and nucleation modeling of the polar stratospheric CN layer</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        S. Münch, J. Curtius
        </p>
        <small>Atmos. Chem. Phys. Discuss., 2016, 1-20</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-4191-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Stratospheric ozone changes under solar geoengineering: implications for UV exposure and air quality</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        P. J. Nowack, N. L. Abraham, P. Braesicke, J. A. Pyle
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 4191-4203</small>
        </a>
        
        <a href="http://doi.org/10.5194/bg-13-2221-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">A new mechanistic framework to predict OCS fluxes from soils</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        J. Ogee, J. Sauze, J. Kesselmeier, B. Genty, H. V. Diest, et. al.
        </p>
        <small>Biogeosciences, 13, 2221-2240</small>
        </a>
        
        <a href="http://doi.org/10.3390/atmos7110149" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Impact of Stratospheric Volcanic Aerosols on Age-of-Air and Transport of Long-Lived Species</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        G. Pitari, I. Cionni, G. D. Genova, D. Visioni, I. Gandolfi, et. al.
        </p>
        <small>Atmosphere, 7, 149</small>
        </a>
        
        <a href="http://doi.org/10.3390/atmos7060075" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Stratospheric Aerosols from Major Volcanic Eruptions: A Composition-Climate Model Study of the Aerosol Cloud Dispersal and e-folding Time</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        G. Pitari, G. D. Genova, E. Mancini, D. Visioni, I. Gandolfi, et. al.
        </p>
        <small>Atmosphere, 7, 75</small>
        </a>
        
        <a href="http://doi.org/10.3390/atmos7070085" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Sulfate Aerosols from Non-Explosive Volcanoes: Chemical-Radiative Effects in the Troposphere and Lower Stratosphere</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        G. Pitari, D. Visioni, E. Mancini, I. Cionni, G. D. Genova, et. al.
        </p>
        <small>Atmosphere, 7, 85</small>
        </a>
        
        <a href="http://doi.org/10.3390/rs8050421" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Development, Production and Evaluation of Aerosol Climate Data Records from European Satellite Observations (Aerosol_cci)</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        T. Popp, G. d. Leeuw, C. Bingen, C. Bruhl, V. Capelle, et. al.
        </p>
        <small>Remote Sensing, 8, 421</small>
        </a>
        
        <a href="http://doi.org/10.1002/wcc.407" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Tambora 1815 as a test case for high impact volcanic eruptions: Earth system effects</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        C. C. Raible, S. Bronnimann, R. Auchmann, P. Brohan, T. L. Frolicher, et. al.
        </p>
        <small>Wiley Interdisciplinary Reviews-Climate Change, 7, 569-589</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-9-1721-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">LOAC: a small aerosol optical counter/sizer for ground-based and balloon measurements of the size distribution and nature of atmospheric particles - Part 1: Principle of measurements and instrument evaluation</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        J. B. Renard, F. Dulac, G. Berthet, T. Lurton, D. Vignelles, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 9, 1721-1742</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-9-3673-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">LOAC: a small aerosol optical counter/sizer for ground-based and balloon measurements of the size distribution and nature of atmospheric particles &ndash; Part 2: First results from balloon and unmanned aerial vehicle flights</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        J. Renard, F. Dulac, G. Berthet, T. Lurton, D. Vignelles, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 9, 3673-3686</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-9-4701-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">AerGOM, an improved algorithm for stratospheric aerosol extinction retrieval from GOMOS observations - Part 2: Intercomparisons</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        C. E. Robert, C. Bingen, F. Vanhellemont, N. Mateshvili, E. Dekemper, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 9, 4701-4718</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-9-4601-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">A laser-induced fluorescence instrument for aircraft measurements of sulfur dioxide in the upper troposphere and lower stratosphere</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        A. W. Rollins, T. D. Thornberry, S. J. Ciciora, R. J. McLaughlin, L. A. Watts, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 9, 4601-4613</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-6841-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Synergistic use of Lagrangian dispersion and radiative transfer modelling with satellite and surface remote sensing measurements for the investigation of volcanic plumes: the Mount Etna eruption of 25-27 October 2013</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        P. Sellitto, A. d. Sarra, S. Corradini, M. Boichu, H. Herbin, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 6841-6861</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-9-115-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Sensitivity of thermal infrared nadir instruments to the chemical and microphysical properties of UTLS secondary sulfate aerosols</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        P. Sellitto, B. Legras
        </p>
        <small>Atmospheric Measurement Techniques, 9, 115-132</small>
        </a>
        
        <a href="http://doi.org/10.1126/science.aae0061" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Emergence of healing in the Antarctic ozone layer</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        S. Solomon, D. J. Ivy, D. Kinnison, M. J. Mills, R. R. Neely, et. al.
        </p>
        <small>Science, 353, 269-74</small>
        </a>
        
        <a href="http://doi.org/10.1002/2016gl071778" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Monsoon circulations and tropical heterogeneous chlorine chemistry in the stratosphere</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        S. Solomon, D. Kinnison, R. R. Garcia, J. Bandoro, M. Mills, et. al.
        </p>
        <small>Geophysical Research Letters, 43, 12624-12633</small>
        </a>
        
        <a href="http://doi.org/10.1002/2015jg003149" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Litter dominates surface fluxes of carbonyl sulfide in a Californian oak woodland</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        W. Sun, K. Maseyk, C. Lett, U. Seibt
        </p>
        <small>Journal of Geophysical Research-Biogeosciences, 121, 438-450</small>
        </a>
        
        <a href="http://doi.org/10.1007/s10584-016-1648-7" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Climatic and societal impacts of a volcanic double event at the dawn of the Middle Ages</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        M. Toohey, K. Krüger, M. Sigl, F. Stordal, H. Svensen
        </p>
        <small>Climatic Change, 136, 401-412</small>
        </a>
        
        <a href="http://doi.org/10.5194/gmd-9-4049-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Easy Volcanic Aerosol (EVA v1.0): an idealized forcing generator for climate simulations</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        M. Toohey, B. Stevens, H. Schmidt, C. Timmreck
        </p>
        <small>Geosci. Model Dev., 9, 4049-4070</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-9-4687-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">AerGOM, an improved algorithm for stratospheric aerosol extinction retrieval from GOMOS observations - Part 1: Algorithm description</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        F. Vanhellemont, N. Mateshvili, L. Blanot, C. E. Robert, C. Bingen, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 9, 4687-4700</small>
        </a>
        
        <a href="http://doi.org/10.1002/2016jd025344" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">In situ and space-based observations of the Kelud volcanic plume: The persistence of ash in the lower stratosphere</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        J. P. Vernier, T. D. Fairlie, T. Deshler, M. Natarajan, T. Knepp, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 121, 11104-11118</small>
        </a>
        
        <a href="http://doi.org/" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Balloon-borne measurement of the aerosol size distribution from an Icelandic flood basalt eruption</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        D. Vignelles, T. J. Roberts, E. Carboni, E. Ilyinskaya, M. Pfeffer, et. al.
        </p>
        <small>Earth and Planetary Science Letters, 453, 252-259</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-2123-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Towards understanding the variability in biospheric CO<sub>2</sub> fluxes: using FTIR spectrometry and a chemical transport model to investigate the sources and sinks of carbonyl sulfide and its link to CO<sub>2</sub></h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        Y. T. Wang, N. M. Deutscher, M. Palm, T. Warneke, J. Notholt, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 2123-2138</small>
        </a>
        
        <a href="http://doi.org/" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Carbonyl sulfide exchange in soils for better estimates of ecosystem carbon uptake</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        M. E. Whelan, T. W. Hilton, J. A. Berry, M. Berkelhammer, A. R. Desai, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 3711-3726</small>
        </a>
        
        <a href="http://doi.org/10.1007/s10533-016-0207-7" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Reduced sulfur trace gas exchange between a seasonally dry grassland and the atmosphere</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        M. E. Whelan, R. C. Rhew
        </p>
        <small>Biogeochemistry, 128, 267-280</small>
        </a>
        
        <a href="http://doi.org/10.5194/acp-16-1479-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Stratospheric sulfate geoengineering could enhance the terrestrial photosynthesis rate</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        L. Xia, A. Robock, S. Tilmes, R. R. Neely
        </p>
        <small>Atmospheric Chemistry and Physics, 16, 1479-1489</small>
        </a>
        
        <a href="http://doi.org/10.1002/2016GL071209" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Potential negative consequences of geoengineering on crop production: A study of Indian groundnut</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        H. Yang, S. Dobbie, J. Ramirez-Villegas, K. Feng, A. J. Challinor, et. al.
        </p>
        <small>Geophys Res Lett, 43, 11786-11795</small>
        </a>
        
        <a href="http://doi.org/10.5194/gmd-9-2701-2016" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">The Model Intercomparison Project on the climatic response to Volcanic forcing (VolMIP): experimental design and forcing input data for CMIP6</h5>
        <small>2016</small>
        </div>
        <p class="mb-0">
        D. Zanchettin, M. Khodri, C. Timmreck, M. Toohey, A. Schmidt, et. al.
        </p>
        <small>Geoscientific Model Development, 9, 2701-2719</small>
        </a>
        </div>