<div class='list-group mb-3'>

        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-8-7533-2008">Carbonyl sulfide in air extracted from a South Pole ice core: a 2000 year record</a>
        <p class="mb-0">
        M. Aydin, M. B. Williams, C. Tatum, E. S. Saltzman
        </p>
        <small>Atmospheric Chemistry and Physics, 8, 7533-7542</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1029/2008gl034270">Global distributions of carbonyl sulfide in the upper troposphere and stratosphere</a>
        <p class="mb-0">
        M. P. Barkley, P. I. Palmer, C. D. Boone, P. F. Bernath, P. Suntharalingam
        </p>
        <small>Geophysical Research Letters, 35, 7</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1029/2007jd009163">Carbonyl sulfide (OCS): Large-scale distributions over North America during INTEX-NA and relationship to CO2</a>
        <p class="mb-0">
        N. J. Blake, J. E. Campbell, S. A. Vay, H. E. Fuelberg, L. G. Huey, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 113, 13</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/j.jqsrt.2008.07.008">Measurements of long-term changes in atmospheric OCS (carbonyl sulfide) from infrared solar observations</a>
        <p class="mb-0">
        C. P. Rinsland, L. Chiou, E. Mahieu, R. Zander, C. D. Boone, et. al.
        </p>
        <small>Journal of Quantitative Spectroscopy & Radiative Transfer, 109, 2679-2686</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1029/2008gl034332">Global 3-D model analysis of the seasonal cycle of atmospheric carbonyl sulfide: Implications for terrestrial vegetation uptake</a>
        <p class="mb-0">
        P. Suntharalingam, A. J. Kettle, S. M. Montzka, D. J. Jacob
        </p>
        <small>Geophysical Research Letters, 35, 6</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/S1352-2310(99)00342-8">Soil atmosphere exchange of carbonyl sulfide (COS) regulated by diffusivity depending on water-filled pore space</a>
        <p class="mb-0">
        H. V. Diest, J. Kesselmeier
        </p>
        <small>Biogeosciences, 5, 475-483</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/j.agee.2007.05.011">Exchange of carbonyl sulfide (OCS) and dimethyl sulfide (DMS) between rice paddy fields and the atmosphere in subtropical China</a>
        <p class="mb-0">
        Z. G. Yi, X. M. Wang, G. Y. Sheng, H. M. Fu
        </p>
        <small>Agriculture Ecosystems & Environment, 123, 116-124</small>
        </div>
        </div>