<div class='list-group mb-3'>

        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/j.atmosenv.2010.08.025">Abundances and variability of tropospheric volatile organic compounds at the South Pole and other Antarctic locations</a>
        <p class="mb-0">
        A. J. Beyersdorf, D. R. Blake, A. Swanson, S. Meinardi, F. S. Rowland, et. al.
        </p>
        <small>Atmospheric Environment, 44, 4565-4574</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1007/s10874-011-9203-4">The temporal trend of stratospheric carbonyl sulfide</a>
        <p class="mb-0">
        M. T. Coffey, J. W. Hannigan
        </p>
        <small>Journal of Atmospheric Chemistry, 67, 61-70</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/j.atmosenv.2010.06.040">Carbonyl sulfide, dimethyl sulfide and carbon disulfide in the Pearl River Delta of southern China: Impact of anthropogenic and biogenic sources</a>
        <p class="mb-0">
        H. Guo, I. J. Simpson, A. J. Ding, T. Wang, S. M. Saunders, et. al.
        </p>
        <small>Atmospheric Environment, 44, 3805-3813</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/bg-7-753-2010">Exchange of carbonyl sulfide (COS) between the atmosphere and various soils in China</a>
        <p class="mb-0">
        J. Liu, C. Geng, Y. Mu, Y. Zhang, Z. Xu, et. al.
        </p>
        <small>Biogeosciences, 7, 753-762</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/bg-7-333-2010">A kinetic analysis of leaf uptake of COS and its relation to transpiration, photosynthesis and carbon isotope fractionation</a>
        <p class="mb-0">
        U. Seibt, J. Kesselmeier, L. Sandoval-Soto, U. Kuhn, J. A. Berry
        </p>
        <small>Biogeosciences, 7, 333-341</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1111/j.1365-2486.2009.02088.x">High precision measurements of atmospheric concentrations and plant exchange rates of carbonyl sulfide using mid-IR quantum cascade laser</a>
        <p class="mb-0">
        K. Stimler, D. Nelson, D. Yakir
        </p>
        <small>Global Change Biology, 16, 2496-2503</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-10-547-2010">Carbonyl sulfide exchange in a temperate loblolly pine forest grown under ambient and elevated CO<sub>2</sub></a>
        <p class="mb-0">
        M. L. White, Y. Zhou, R. S. Russo, H. Mao, R. Talbot, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 10, 547-561</small>
        </div>
        </div>