<div class='list-group mb-3'>

        <a href="http://doi.org/10.1016/j.atmosenv.2007.02.039" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Uptake and conversion of carbonyl sulfide in a lawn soil</h5>
        <small>2007</small>
        </div>
        <p class="mb-0">
        J. F. Liu, Y. J. Mu, C. M. Geng, Y. B. Yu, H. Hong, et. al.
        </p>
        <small>Atmospheric Environment, 41, 5697-5706</small>
        </a>
        
        <a href="http://doi.org/10.1029/2006jd007665" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">On the global distribution, seasonality, and budget of atmospheric carbonyl sulfide (COS) and some similarities to CO2</h5>
        <small>2007</small>
        </div>
        <p class="mb-0">
        S. A. Montzka, P. Calvert, B. D. Hall, J. W. Elkins, T. J. Conway, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 112, 15</small>
        </a>
        </div>