<div class='list-group mb-3'>

        <a href="http://doi.org/10.1038/s43247-020-00022-5" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">The 2019/20 Australian wildfires generated a persistent smoke-charged vortex rising up to 35 km altitude</h5>
        <small>2020</small>
        </div>
        <p class="mb-0">
        S. Khaykin, B. Legras, S. Bucci, P. Sellitto, L. Isaksen, et. al.
        </p>
        <small>Communications Earth \& Environment, 1, 1-12</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-13-4261-2020" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Evaluation of a method for converting Stratospheric Aerosol and Gas Experiment (SAGE) extinction coefficients to backscatter coefficients for intercomparison with lidar observations</h5>
        <small>2020</small>
        </div>
        <p class="mb-0">
        T. N. Knepp, L. Thomason, M. Roell, R. Damadeo, K. Leavor, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 13, 4261-4276</small>
        </a>
        
        <a href="http://doi.org/10.5194/essd-12-2607-2020" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">The Global Space-based Stratospheric Aerosol Climatology (version 2.0): 1979--2018</h5>
        <small>2020</small>
        </div>
        <p class="mb-0">
        M. Kovilakam, L. W. Thomason, N. Ernest, L. Rieger, A. Bourassa, et. al.
        </p>
        <small>Earth System Science Data, 12, 2607-2634</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-13-5643-2020" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Stratospheric aerosol extinction profiles from SCIAMACHY solar occultation</h5>
        <small>2020</small>
        </div>
        <p class="mb-0">
        S. Noël, K. Bramstedt, A. Rozanov, E. Malinina, H. Bovensmann, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 13, 5643-5666</small>
        </a>
        
        <a href="http://doi.org/10.5194/gmd-13-4831-2020" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Quantifying CanESM5 and EAMv1 sensitivities to Mt. Pinatubo volcanic forcing for the CMIP6 historical experiment</h5>
        <small>2020</small>
        </div>
        <p class="mb-0">
        L. A. Rieger, J. N. Cole, J. C. Fyfe, S. Po-Chedley, P. J. Cameron-Smith, et. al.
        </p>
        <small>Geoscientific Model Development, 13, 4831-4843</small>
        </a>
        </div>