<div class='list-group mb-3'>

        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/j.atmosenv.2007.02.039">Uptake and conversion of carbonyl sulfide in a lawn soil</a>
        <p class="mb-0">
        J. F. Liu, Y. J. Mu, C. M. Geng, Y. B. Yu, H. Hong, et. al.
        </p>
        <small>Atmospheric Environment, 41, 5697-5706</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1029/2006jd007665">On the global distribution, seasonality, and budget of atmospheric carbonyl sulfide (COS) and some similarities to CO2</a>
        <p class="mb-0">
        S. A. Montzka, P. Calvert, B. D. Hall, J. W. Elkins, T. J. Conway, et. al.
        </p>
        <small>Journal of Geophysical Research-Atmospheres, 112, 15</small>
        </div>
        </div>