<div class='list-group mb-3'>

        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/https://doi.org/10.1029/2019JD030607">Satellite Limb Observations of Unprecedented Forest Fire Aerosol in the Stratosphere</a>
        <p class="mb-0">
        A. E. Bourassa, L. A. Rieger, D. J. Zawada, S. Khaykin, L. W. Thomason, et. al.
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 124, 9510-9519</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/amt-12-3485-2019">Stratospheric aerosol characteristics from space-borne observations: extinction coefficient and {\AA}ngstr\"om exponent</a>
        <p class="mb-0">
        E. Malinina, A. Rozanov, L. Rieger, A. Bourassa, H. Bovensmann, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 12, 3485-3502</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/https://doi.org/10.1029/2018JD029897">A Multiwavelength Retrieval Approach for Improved OSIRIS Aerosol Extinction Retrievals</a>
        <p class="mb-0">
        L. A. Rieger, D. J. Zawada, A. E. Bourassa, D. A. Degenstein
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 124, 7286-7307</small>
        </div>
        </div>