<div class='list-group mb-3'>

        <a href="http://doi.org/https://doi.org/10.1029/2019JD030607" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Satellite Limb Observations of Unprecedented Forest Fire Aerosol in the Stratosphere</h5>
        <small>2019</small>
        </div>
        <p class="mb-0">
        A. E. Bourassa, L. A. Rieger, D. J. Zawada, S. Khaykin, L. W. Thomason, et. al.
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 124, 9510-9519</small>
        </a>
        
        <a href="http://doi.org/10.5194/amt-12-3485-2019" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">Stratospheric aerosol characteristics from space-borne observations: extinction coefficient and {\AA}ngstr\"om exponent</h5>
        <small>2019</small>
        </div>
        <p class="mb-0">
        E. Malinina, A. Rozanov, L. Rieger, A. Bourassa, H. Bovensmann, et. al.
        </p>
        <small>Atmospheric Measurement Techniques, 12, 3485-3502</small>
        </a>
        
        <a href="http://doi.org/https://doi.org/10.1029/2018JD029897" class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-0">A Multiwavelength Retrieval Approach for Improved OSIRIS Aerosol Extinction Retrievals</h5>
        <small>2019</small>
        </div>
        <p class="mb-0">
        L. A. Rieger, D. J. Zawada, A. E. Bourassa, D. A. Degenstein
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 124, 7286-7307</small>
        </a>
        </div>