<div class='list-group mb-3'>

        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-17-2229-2017">Impact of a moderate volcanic eruption on chemistry in the lower stratosphere: balloon-borne observations and model calculations</a>
        <p class="mb-0">
        G. Berthet, F. Jégou, V. Catoire, G. Krysztofiak, J. Renard, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 17, 2229-2253</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1038/srep44095">A decade of global volcanic SO<sub>2</sub> emissions measured from space</a>
        <p class="mb-0">
        S. A. Carn, V. E. Fioletov, C. A. McLinden, C. Li, N. A. Krotkov
        </p>
        <small>Sci Rep, 7, 44095</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-17-2631-2017">Global carbonyl sulfide (OCS) measured by MIPAS/Envisat during 2002-2012</a>
        <p class="mb-0">
        N. Glatthor, M. Höpfner, A. Leyser, G. P. Stiller, T. v. Clarmann, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 17, 2631-2652</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1038/ngeo2875">Climate response to the Samalas volcanic eruption in 1257 revealed by proxy records</a>
        <p class="mb-0">
        S. Guillet, C. Corona, M. Stoffel, M. Khodri, F. Lavigne, et. al.
        </p>
        <small>Nature Geoscience, 10, 123-128</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1002/2016GL072049">Meteoric smoke and H2SO4 aerosols in the upper stratosphere and mesosphere</a>
        <p class="mb-0">
        M. E. Hervig, C. G. Bardeen, D. E. Siskind, M. J. Mills, R. Stockwell
        </p>
        <small>Geophysical Research Letters, 44, 1150-1157</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1002/2016ef000389">Towards a comprehensive climate impacts assessment of solar geoengineering</a>
        <p class="mb-0">
        P. J. Irvine, B. Kravitz, M. G. Lawrence, D. Gerten, C. Caminade, et. al.
        </p>
        <small>Earth's Future, 5, 93-106</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1002/2016gl071925">The influence of the Calbuco eruption on the 2015 Antarctic ozone hole in a fully coupled chemistry-climate model</a>
        <p class="mb-0">
        D. J. Ivy, S. Solomon, D. Kinnison, M. J. Mills, A. Schmidt, et. al.
        </p>
        <small>Geophysical Research Letters, n/a-n/a</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-17-3339-2017">Shortwave radiative forcing, rapid adjustment, and feedback to the surface by sulfate geoengineering: analysis of the Geoengineering Model Intercomparison Project G4 scenario</a>
        <p class="mb-0">
        H. Kashimura, M. Abe, S. Watanabe, T. Sekiya, D. Ji, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 17, 3339-3356</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-17-1829-2017">Variability and evolution of the midlatitude stratospheric aerosol budget from 22 years of ground-based lidar and satellite observations</a>
        <p class="mb-0">
        S. M. Khaykin, S. Godin-Beekmann, P. Keckhut, A. Hauchecorne, J. Jumelet, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 17, 1829-1845</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/gmd-10-3359-2017">The Sectional Stratospheric Sulfate Aerosol module (S3A-v1) within the LMDZ general circulation model: description and evaluation against stratospheric aerosol observations</a>
        <p class="mb-0">
        C. Kleinschmitt, O. Boucher, S. Bekki, F. Lott, U. Platt
        </p>
        <small>Geoscientific Model Development, 10, 3359-3378</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/j.jqsrt.2016.06.001">Optimized approach to retrieve information on atmospheric, carbonyl sulfide (OCS) above the Jungfraujoch station and change in its abundance since 1995</a>
        <p class="mb-0">
        B. Lejeune, E. Mahieu, M. K. Vollmer, S. Reimann, P. F. Bernath, et. al.
        </p>
        <small>Journal of Quantitative Spectroscopy & Radiative Transfer, 186, 81-95</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.5194/acp-17-385-2017">Direct oceanic emissions unlikely to account for the missing source of atmospheric carbonyl sulfide</a>
        <p class="mb-0">
        S. T. Lennartz, Christa A. Marandino, Marc von Hobe, Pau Cortes, Birgit Quack, et. al.
        </p>
        <small>Atmospheric Chemistry and Physics, 17, 385-402</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/j.quascirev.2016.12.024">Multi-proxy dating the "Millennium Eruption" of Changbaishan to late 946 CE</a>
        <p class="mb-0">
        C. Oppenheimer, L. Wacker, J. Xu, J. D. Galván, M. Stoffel, et. al.
        </p>
        <small>Quaternary Science Reviews, 158, 164-171</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1002/2016jd025796">Impacts of a Pinatubo-size volcanic eruption on ENSO</a>
        <p class="mb-0">
        E. Predybaylo, G. L. Stenchikov, A. T. Wittenberg, F. Zeng
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 122, 925-947</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/B978-0-12-803011-0.00009-4">Chapter 9 - Artificial Neural Networks for Spectral Sensitivity Analysis to Optimize Inversion Algorithms for Satellite-Based Earth Observation: Sulfate Aerosol Observations With High-Resolution Thermal Infrared Sounders A2 - Petropoulos, George P</a>
        <p class="mb-0">
        P. Sellitto
        </p>
        <small>Sensitivity Analysis in Earth Observation Modelling, 161-175</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.4401/ag-7106">The EtnaPlumeLab (EPL) research cluster : advance the understanding of Mt. Etna plume, from source characterisation to downwind impact</a>
        <p class="mb-0">
        P. Sellitto, G. Salerno, P. Briole
        </p>
        <small>Annals of Geophysics, 60, </small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1080/01431161.2017.1348635">Secondary sulphate aerosols and cirrus clouds detection with seviri during Nabro volcano eruption</a>
        <p class="mb-0">
        P. Sellitto, G. Sèze, B. Legras
        </p>
        <small>International Journal of Remote Sensing, </small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/10.1016/j.atmosenv.2016.10.032">The impact of Mount Etna sulfur emissions on the atmospheric composition and aerosol properties in the central Mediterranean: A statistical analysis over the period 2000-2013 based on observations and Lagrangian modelling</a>
        <p class="mb-0">
        P. Sellitto, C. Zanetel, A. d. Sarra, G. Salerno, A. Tapparo, et. al.
        </p>
        <small>Atmospheric Environment, 148, 77-88</small>
        </div>
        
        <div class="list-group-item">
        <a class="mb-0 paper-title" href="http://doi.org/https://doi.org/10.1002/2017JD027003">Development of a Polar Stratospheric Cloud Model Within the Community Earth System Model: Assessment of 2010 Antarctic Winter</a>
        <p class="mb-0">
        Y. Zhu, O. B. Toon, A. Lambert, D. E. Kinnison, C. Bardeen, et. al.
        </p>
        <small>Journal of Geophysical Research: Atmospheres, 122, 10,418-10,438</small>
        </div>
        </div>