.jumbotron {
    color: #FFFFFF;
    border-radius: 0;
    /*background-image: url('../img/iss-shuttle-cropped-small.jpg');*/
    background-image: url('../img/sunset-iss-cropped.jpg');
    height: 100%;
    bottom: 0;
    background-size: cover;
    background-position: left bottom;
}

a {
    color: #4695cd;
    text-decoration: none;
}

a:hover {
    color: #206799;
}

h1 {
    border-bottom: 1px solid #999999;
    padding-bottom: 7px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.card {
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
}

.card-clickable:hover{
    color: #999999;
}

.card-header {
    border: 0;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-row {
    flex-direction: row;
    padding: 0;
}

.card-footer {
    font-size: small;
    background-color: #ffffff;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.card-footer .a {
    color: #444444;
}
.card-img-left {
    width: 30%;
    height: 150px;
    object-fit: cover;
    border-radius: 0;
    object-position: 0 0;
}

.card-footer {
    border: 0;
}

.card-post h5 {
    font-size: larger;
    font-weight: 600;
}

.card-post .card-body .card-text {
    color: #444444;
    font-size: small;
}

.card-activity {
    background-color: #ffffff;
}

.card-activity h5{
    /*text-transform: uppercase;*/
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
    color: #4695cd;
    text-transform: uppercase;
}

.card-link {
    border: 1px solid #dddddd;
    background-color: #fefefe;
}

.card-link h5{
    color: #555555;
    font-weight: 600;
    margin: 0;
}

.col-sidebar {
    background-color: #ffffff;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item.active {
    background-color: #4695cd;
    border-color: #4695cd;
}

.bd-toc {
    position: sticky;
    top: 5rem;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto;
}

.nav-link {
    color: #666666;
    padding: 0.25rem 0;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #4695cd;
}

.navbar-brand {
    color: #666666;
}

.navbar .active {
    color: #4695cd;
}

.dropdown-item.active{
    background-color: #eeeeee;
}

.card-callout {
    border: 1px solid #999999;
    margin-bottom: 0;
}

.bd-callout {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}

.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 100%
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h5 {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.glyphicon-ring {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #bbbbbb;
    color: #222222;
    display: inline-block;
    text-align: center;
    padding: 5px;
    background-color: #fafafa;
    font-size: 2rem;
}
/**CSS FOR ICON WITH NO BACKGROUND COLOR**/

.glyphicon-ring .glyphicon-bordered {
    font-size: 20px;
    vertical-align: middle;
    display: table-cell;
}
/**WITH AN ADDED BACKGROUND COLOR**/

.glyphicon-white {
    background: white;
    color: black;
    border: 4px solid black;
}

.landing-header {
    font-weight: 600;
    font-size: 1rem;
    color: #4695cd;
    text-transform: uppercase;
}

.paper-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #4695cd;
    text-decoration: none;
    line-height: 0;
}

.shadow-sm {
box-shadow: 0 .125rem .25rem rgba(0,0,0,.2) !important;
}