{% extends "layout.html" %}

{% block content %}

    <div class="row mt-4">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <p class="lead">
                SSiRC is an established SPARC (Stratosphere-Troposphere Processes and their role in Climate) activity,
                with SPARC being a core project within the World Climate Research Program (WCRP). SSiRC aims to foster
                collaboration across observational and modelling groups to better understand the stratospheric aerosol
                layer and the drivers for its observed variations.
            </p>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="row mb-2">
                <div class="col-12 d-flex justify-content-start mb-2">
                    <a href="{{ url_for('about') }}" style="text-decoration: none">
                        <div class="glyphicon-ring align-middle shadow-sm">
                            <i class="glyphicon bi bi-info-lg"></i>
                        </div>
                    </a>
                    <div class="align-middle pt-3 ps-2" style="display: inline-block">Read about SSiRC science and goals.</div>
                </div>
                <div class="col-12 d-flex justify-content-start mt-2 mb-2">
                    <a href="{{ url_for('implementation') }}" style="text-decoration: none">
                        <div class="glyphicon-ring align-middle shadow-sm">
                            <i class="bi bi-book"></i>
                        </div>
                    </a>
                    <div class="align-middle pt-3 ps-2" style="display: inline-block">Read the SSiRC implementation plan.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        {% include 'activities/overview.html' %}
    </div>

    {#    <hr>#}
    <div class="row mb-5">
        <div class="col-6">
            {#            <div class="row">#}
            <h3 class="landing-header">Meeting Updates</h3>
            {% include 'news.html' %}
        </div>
        <div class="col-6">
            <h3 class="landing-header">Research Highlights</h3>
            {% include 'highlights.html' %}
            {#            </div>#}
        </div>
    </div>

    <h3 class="landing-header">Related SPARC Initiatives</h3>
    <div class="row row-cols-lg-6 row-cols-md-3 row-cols-sm-2">
            {% include 'related.html' %}
    </div>
    {#    </div>#}

    {#    <div class="row">#}

    {#        </div>#}
    {#    </div>#}
{%  endblock %}