{{ post("2022 SSiRC Workshop",
    'The 3<sup>rd</sup> International SSiRC Workshop has now been confirmed for 28-30 March 2022 in
        Leeds, UK. Visit the conference website
        <a href="https://eu.eventscloud.com/ehome/200197691/home/">here</a> for updates and details.',
        'leeds.jpg') }}

{{ post("EGU General Assembly",
    '''The 2022 EGU general assembly will have two SSiRC related sessions:
        <br>
            <a href="https://meetingorganizer.copernicus.org/EGU22/session/43868">
                AS3.6: The role of the middle atmosphere</a>
        <br>
            <a href="https://meetingorganizer.copernicus.org/EGU22/session/43872">
                AS3.7:  Dynamics and chemistry of the UTLS</a>''',
        'egu-logo.png') }}
