<h3>Latest News</h3>
<div class="card shadow-sm">
    <h5 class="card-header">
        3<sup>rd</sup> International Workshop
    </h5>
    <div class="card-body">
        The 3<sup>rd</sup> International SSiRC Workshop has now been confirmed for 28-30 March 2022 in
        Leeds, UK. Visit the conference website
        <a href="https://eu.eventscloud.com/ehome/200197691/home/">here</a> for updates and details.
    </div>
</div>
<div class="card shadow-sm">
    <h5 class="card-header">
        2022 EGU Meeting
    </h5>
    <div class="card-body">
        The EGU meeting will have two SSiRC related sessions:
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="https://meetingorganizer.copernicus.org/EGU22/session/43868">
                AS3.6: The role of the middle atmosphere in a changing climate:  circulation, composition changes and radiative feedbacks</a>
        </li>
        <li class="list-group-item">
            <a href="https://meetingorganizer.copernicus.org/EGU22/session/43872">
                AS3.7:  Dynamics and chemistry of the upper troposphere and lower stratosphere (UTLS)</a>
        </li>
        </ul>
    </div>
</div>
<div class="card shadow-sm">
    <h5 class="card-header">
        Fall 2021 Virtual Meeting
    </h5>
    <div class="card-body">
        In September 2021, SSiRC hosted its first virtual conference with more than 100 participants.
        In three sessions, recent and ongoing studies related to sulfur and stratospheric aerosol were
        presented and discussed. A complete list of 39 presentations with titles is found
        <a href="http://www.sparc-ssirc.org/pics/SSiRC_VirtualMeeting2021_Schedule.pdf">here</a>.
    </div>
</div>
<h3>Highlights</h3>
<div class="card shadow-sm">
    <img src="{{ url_for('static', filename='img/kremser.png') }}" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">2016 Review Paper</h5>
        A new stratospheric aerosol review paper has been published in Reviews of Geophysics.
        Read it <a href="https://doi.org/10.1002/2015RG000511">here</a>.
    </div>
    <div class="card-footer small text-muted">
    Kremser et al., 2016
  </div>
</div>