{#<div class="row row-cols-3 row-cols-lg-3 row-cols-md-3 row-cols-sm-2">#}
{#    <div class="col">#}

{{ related_link("VolMIP", "CMIP6 endorsed project with the aim to coordinate the activities of different research institutes
                    involved in numerical climate modelling focused on a multi-model assessment of climate model performance
                    under strong volcanic forcing conditions", "http://www.volmip.org/") }}

{{ related_link("GeoMIP", "Serves to organize geoengineering simulations by prescribing the experiments which all
                    participating climate models will perform.", "http://climate.envsci.rutgers.edu/GeoMIP/index.html") }}

{{ related_link("PAGES VICS", "Supports research focused on reconstructing the history of past explosive volcanism, and
                    research using this knowledge to better understand how the climate system responds to
                    changes in radiative forcing, and how societies have been impacted by and responded to
                    the resulting climatic changes.", "http://www.pastglobalchanges.org/science/wg/vics/intro") }}

{{ related_link("OCTAV-UTLS", "Observed Composition Trends And Variability in the Upper Troposphere and Lower
        Stratosphere", "https://www.octav-utls.net/") }}

{{ related_link("ACAM", "Atmopsheric Composition and the Asian Monsoon", "https://www2.acom.ucar.edu/acam") }}

{{ related_link("CCMI", "Chemistry-Climate Model Initiative", "https://igacproject.org/activities/CCMI") }}
