{% macro person(name, location='') -%}
    <strong>{{ name }}</strong> {{ location }}<br>
{%- endmacro %}

{%  macro bib_entry(entry) -%}
    {%  set authors = entry['author'].split(' and ') %}
    {% for author in authors %}
        {% set names = author.split(',') %}
        <strong>{{ names[1] }} {{ names[0] }}, </strong>
    {% endfor %}
    <em>{{ entry['title'] }}</em>, {{ entry['year'] }}
{%- endmacro %}

{%  macro post(title, text, image) -%}
    <div class="card card-row card-post shadow-sm">
        <img src="{{ url_for('static', filename='/img/{}'.format(image)) }}"
             class="card-img-top card-img-left" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                {{ title }}
            </h5>
            <div class="card-text">
                {{ text|safe }}
            </div>
        </div>
    </div>
{%- endmacro %}