<p class="lead text-center">Read more about the SSiRC activities</p>
<div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 px-5">
<div class="col">
    <div class="card shadow-sm">
        <div class="card-header card-activity"><h5>Campaigns</h5></div>
        <div class="content"> <a href="{{ url_for('field_campaigns') }}">
            <div class="content-overlay"></div>
            <img class="content-image" src="{{ url_for('static', filename='/img/balloon-gondola-cropped.jpg') }}" alt="">
            <div class="content-details fadeIn-bottom">
                <p class="content-text">Past and upcoming balloon and aircraft campaigns</p>
            </div>
        </a>
        </div>
    </div>
</div>
<div class="col">
    <div class="card shadow-sm">
        <div class="card-header card-activity"><h5>Analysis</h5></div>
        <div class="content"> <a href="{{ url_for('analysis') }}">
            <div class="content-overlay"></div>
            <img class="content-image" src="{{ url_for('static', filename='/img/analysis-cropped.png') }}" alt="">
            <div class="content-details fadeIn-bottom">
                <p class="content-text">Analysis efforts to quantify stratospheric aerosols</p>
            </div>
        </a>
        </div>
    </div>
</div>
<div class="col">
    <div class="card shadow-sm">
        <div class="card-header card-activity"><h5>Modelling</h5></div>
        <div class="content"> <a href="{{ url_for('modeling') }}">
            <div class="content-overlay"></div>
            <img class="content-image" src="{{ url_for('static', filename='/img/climate-globe-cropped.jpg') }}" alt="">
            <div class="content-details fadeIn-bottom">
                <p class="content-text">Stratospheric aerosol modeling activities</p>
            </div>
        </a>
        </div>
    </div>
</div>
<div class="col">
    <div class="card shadow-sm">
        <div class="card-header card-activity"><h5>VolRes</h5></div>

        <div class="content"> <a href="{{ url_for('volres') }}">
            <div class="content-overlay"></div>
            <img class="content-image" src="{{ url_for('static', filename='/img/pinatubo-cropped.jpg') }}" alt="">
            <div class="content-details fadeIn-bottom">
                <p class="content-text">Monitoring discussion for the next big eruption</p>
            </div>
        </a>
        </div>
    </div>
</div>
<div class="col">
    <div class="card shadow-sm">
        <div class="card-header card-activity"><h5>Data Rescue</h5></div>

        <div class="content"> <a href="{{ url_for('data_rescue') }}">
            <div class="content-overlay"></div>
            <img class="content-image" src="{{ url_for('static', filename='/img/data-rescue-cropped.png') }}" alt="">
            <div class="content-details fadeIn-bottom">
                <p class="content-text">Rediscovery and updates of past measurements</p>
            </div>
        </a>
        </div>
    </div>
</div>
</div>