{% extends "layout.html" %}

{% block content %}

        <h1>Volcanic Response Plan</h1>
        <p>
            Our climate system is highly sensitive to major volcanic eruptions and the quasi-permanent veil of aerosols
            they leave behind, in the stratosphere. The summer 1816 also known as the "year without summer" had seen
            unusual low temperatures throughout the Northern Hemisphere with crop devastations because of an eruption
            thousand miles away, in Indonesia, Tambora. The eruption produced a thick stratospheric aerosol layer made
            of small sulfuric acid droplets for several months, which effectively scattered back solar radiation to
            space triggering subsequent surface cooling. Among other consequences, major volcanic eruptions are known
            to warm the stratosphere due to the absorption of terrestrial InfraRed Radiation and eventually modify the
            global atmospheric circulation and affect precipitations during the monsoons.
        </p>
        <p>
            When Mt Pinatubo erupted in 1991, the last major volcanic eruption of the past 50 years, the global surface
            temperature dropped by 0.5° C for several years. The consequences of this eruption on our climate system is
            still debated today as we lack accuracy in the measured SO2 injected and the thickness of the aerosol plume
            prevented satellites to make complete profile observations through it.
        </p>
        <p>
            To be ready for the next major eruption, the VolRes initiative was created. With 120 scientists, experts in
            satellite observations of SO2 and aerosols, ground and airborne measurements and in modelling the climate
            responses, our goal is to coordinate a plan for the next major volcanic eruption. Activities associated
            with VolRes can be found
            <a href="https://docs.google.com/document/d/1IRhSa4bV1HqwLHUTvjK1eawzO8-zS7glv-tA5hbTto8/edit?usp=sharing">here</a>
            and the discussion forum can be reached <a href="https://wiki.earthdata.nasa.gov/display/volres/Agung+Volcano+Response">here</a>.
        </p>

        <h2>The VolRes Forum</h2>

        <p>To access the page and contribute figures and data, you would need to:</p>
        <ol>
            <li>
                Create an Earthdata Login (URS) account (if you don?t have one), go to EarthData and register for an account using
                an email address and a custom login of your choice.
            </li>
            <li>
                Once you are set up with the Earthdata Login, go to the wiki and log in to the for the first time. This allows the
                wiki to generate a user profile that we can modify for permissions.
            </li>
            <li>
                When you have successfully logged in to the wiki, please let Ross Bagwell know (ross.bagwell@nasa.gov) and he will
                set you up with the permission you need for the space you are trying to access.
            </li>
            <p>
                If you want to know more about VolRes, subscribe to our email list here or contract Jean-Paul Vernier
                (jeanpaul.vernier@nasa.gov) and/or Claudia Timmreck (claudia.timmreck@mpimet.mpg.de).
            </p>
        </ol>
{%  endblock %}